name: Renovate
on:
  schedule:
    # Runs at 08:00 UTC every day
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8ac70de2fe55752c573155866e30735411e3b61c # v41.0.22
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GH_PAT }}
        env:
          # BOT CONFIGURATION HAPPENS HERE:
          # 1. Platform is auto-detected as 'github' by the Action.
          # 2. We explicitly tell it which repo to scan here.
          RENOVATE_REPOSITORIES: ${{ github.repository }}

          # Debug logging
          LOG_LEVEL: 'info'
